{%extends 'base.html'%}
<!--end-->
{%block body%}
<div id="page">
    <!--/#navigation-->
    <div id="page-title" class="image-bg">
        <div class="container text-center">
            <div class="title-content">
                <h1>关于我们</h1>
                <p>我们在景观设计上力求风格海纳百川，设计理念推陈出新。每一个案子，都是一个新的起点，每一个花园都追求有自己匠心独具的地方。因为我们知道，每一个院子对于它的拥有者来说，都是独一无二的。我们要做的，就是让您体会到我们的专业和热忱。</p>
            </div>
        </div>
    </div>
    <!--/#page title-->
    <div id="about-us" class="padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="about-us-image">
                        <img class="img-responsive" src="http://themeregion.com/demo/arki/default-images/about-us/welcome.jpg" alt="">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="about-us-content">
                        <h2>我们是谁</h2>
                        <p>
                            “墨千设计”是一个集旅游规划、园林景观和商业景观为一体的综合品牌。几年的项目经验积累和沉淀，墨千公司2016年在上海成立，其前身为2013年5月成立的汇创/邑景观设计事务所。经过几年磨砺，墨千在景观设计、园林设计、旅游规划、住宅和商业景观设计、风景区规划与设计、环境提升、度假酒店与度假村、景观标识等领域都创造属于自己品牌的设计成果。 墨千有一支令人骄傲的优秀设计团队，具备国内景观规划设计力量，包括建筑师、国家注册结构师、景观设计师、植物设计师，平面设计师和水电工程师，能够满足中国当地规范的设计和服务。
                        </p>
                        <p>
                            墨千始终致力于绿色，生态和可持续发展的理念，在每个项目中都寻求机会修复和保护环境，探索生态设计的技术和方法，提高社会对自然环境和历史文化的敏感性和责任感，并寻求艺术化的语言方式，满足人的精神和心灵的需求，以期创造有灵性的人性化的空间。 墨千景观在旅游规划设计、商业景观、居住景观方面具备超前的设计理念和实力，近年来参与了多个农庄旅游规划设计、商业屋顶花园、高端私家会所景观设计。如今年启动的上海崇明叶轻舟休闲度假农庄总体规划设计、上海崇明德利农庄规划设计、上海吴中路M8名车港休闲屋顶花园俱乐部、上海赢华国际广场屋顶私人高端会所景观设计等，都是追求现代自然与精雕细啄的艺术设计手法的完美结合。
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <h2>企业文化</h2>
                    <p>一群有着共同兴趣爱好和理想的有志之士，在携手创造和保留属于您的无限美好风光。</p>
                </div>
                <div>
                    <h2>企业使命</h2>
                    <p>只提供专业化的咨询及设计服务，为你创造和保留动人风景。</p>
                </div>
                <div>
                    <h2>企业理念</h2>
                    <h4>创造</h4>
                    <p>我们用自己的努力来换取无限美好的景观 </p>
                    <h4>创新</h4>
                    <p>在路上，我们就会永无止境的开拓创新。</p>
                    <h4>品质</h4>
                    <p>注重细部设计，呈现匠心独运的艺术品质。</p>
                    <h4>态度</h4>
                    <p>品质决定生活，态度决定一切。</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--/#about-us-->
    <div id="achievement" class="padding image-bg">
        <div class="overlay-bg"></div>
        <div class="container">
            <div class="achievement">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="fun-heading">
                            <h1>Clients come first<br>in everything we do</h1>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="row fun-facts text-center border-bottom">
                            <div class="col-sm-4 fun border-right">
                                <h1 class="timer">2450</h1>
                                <h2>已完成项目</h2>
                            </div>
                            <div class="col-sm-4 fun border-right">
                                <h1 class="timer">349</h1>
                                <h2>获得奖项项目</h2>
                            </div>
                            <div class="col-sm-4 fun no-border">
                                <h1 class="timer">4</h1>
                                <h2>获得国际认证</h2>
                            </div>
                        </div>
                        <div class="row fun-facts text-center">
                            <div class="col-sm-4 fun border-right">
                                <h1 class="timer">1</h1>
                                <h2>全球品牌项目</h2>
                            </div>
                            <div class="col-sm-4 fun border-right">
                                <h1 class="timer">170</h1>
                                <h2>最强团队人员</h2>
                            </div>
                            <div class="col-sm-4 fun no-border">
                                <h1 class="timer">89</h1>
                                <h2>合作公司</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/#achievement-->
    <div id="workstation" class="padding">
        <div class="container">
            <div class="row text-center section-title">
                <h1>WorkStation </h1>
                <h2>我们的办公环境</h2>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="workstation-image">
                        <img class="img-responsive" src="http://themeregion.com/demo/arki/default-images/about-us/workstation.jpg" alt="">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="workstation-info">
                        <h2>公司一瞥</h2>
                        <p>舒适的工作环境</p>
                        <p>优秀的同事</p>
                        <p>随和的领导</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/#workstation-->
    <div id="video-promotion" class="image-bg">
        <div class="container text-center">
            <h1><a class="video-link" href="https://www.youtube.com/watch?v=1hLBCOlptq8">Play<span></span>Video</a></h1>
        </div>
    </div>
    <!--/#video-promotion-->
    <div id="team-section" class="padding">
        <div class="container">
            <div class="row">
                <div class="text-center section-title">
                    <h1>地表最强战队</h1>
                    <h2>Our Team</h2>
                </div>
            </div>
            <div class="our-team">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="team-content">
                            <div class="team-hero">
                                <img class="img-responsive" src="http://themeregion.com/demo/arki/default-images/about-us/hero1.jpg" alt="">
                            </div>
                            <div class="team-hero-info">
                                <h2>John Handy</h2>
                                <h3>Construction Manager</h3>
                                <p>
                                <!--个人描述-->
                                </p>
                                <div class="socials">
                                    <ul class="list-inline social-icons">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-content">
                            <div class="team-hero">
                                <img class="img-responsive" src="http://themeregion.com/demo/arki/default-images/about-us/hero2.jpg" alt="">
                            </div>
                            <div class="team-hero-info">
                                <h2>Joe Slick</h2>
                                <h3>Project Manager</h3>
                                <p></p>
                                <div class="socials">
                                    <ul class="list-inline social-icons">
                                        <li><a href="#"><i class="fa fa-weibo"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-content">
                            <div class="team-hero">
                                <img class="img-responsive" src="http://themeregion.com/demo/arki/default-images/about-us/hero3.jpg" alt="">
                            </div>
                            <div class="team-hero-info">
                                <h2>Mick Nifty</h2>
                                <h3>Building Worker</h3>
                                <p></p>
                                <div class="socials">
                                    <ul class="list-inline social-icons">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/#team-section-->
    <div id="promotion" class="padding">
        <div class="container text-center">
            <h1>Want to Work with Us? </h1>
            <a class="btn btn-primary btn-animated" href="#">Get In Touch</a>
        </div>
    </div>
    <!--/Promotion-->
</div>
{%endblock%}
