<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9 no-js" lang="en"><![endif]-->
<!--[if gt IE 9 | !IE]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>墨千景观-园林景观设计|旅游规划设计|特色小镇规划</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="icon" href="/img/favicon.png">
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/main.css'>
    <link rel='stylesheet' href='/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/css/magnific-popup.css'>
    <link rel='stylesheet' href='/css/twentytwenty.css'>
    <!--[if lte IE 9]><!-->
    <script src='/js/vendor/html5shiv.min.js'></script>
    <!---->
    {%block head%}
    <!--js/css-->
    {%endblock%}

</head>
<!---->


<!--end-->

<body>
    {% if not isIndex%}
    <div id="page">
        {%endif%}
        <header id="navigation">
            <div class="navbar" role="banner">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                        <a class="navbar-brand" href="/">
                            <img class="main-logo img-responsive" src="/img/logo_big.png" alt="">
                            <img class="logo-two img-responsive" src="/img/logo_small.png" alt="">
                        </a>

                    </div>
                    <div class="top-bar">
                        <ul class="list-inline social-icons">
                            <li><a href="http://weibo.com/u/5818416125" target="_blank"><i class="fa fa-weibo"></i></a></li>
                            <li><a href="http://wpa.qq.com/msgrd?v=3&uin=332967248&site=qq&menu=yes" target="_blank"><i class="fa fa-qq"></i></a></li>

                        </ul>

                    </div>
                    <nav id="main-menu" class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="/" class="dropdown-toggle">
                                首页
							</a>
                            </li>

                            <li class="">
                                <a href="/project" class="dropdown-toggle">
                                项目案例
                            </a>
                            </li>

                            <li><a href="/aboutus">关于我们</a></li>
                        </ul>
                    </nav>

                </div>

            </div>
        </header>

        {%block body%} {%endblock%}
        <footer id="footer">
            <div class="container">
                <div class="padding">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="footer-widget">
                                <a class="logo" href="#"><img class="img-responsive" src="/img/logo_small.png" alt=""></a>
                                <p>
                                 墨千景观在旅游规划设计、商业景观、居住景观方面具备超前的设计理念和实力，近年来参与了多个农庄旅游规划设计、商业屋顶花园、高端私家会所景观设计。
                                </p>
                                <address>
								<ul>
									<li><span>地址:</span>上海市宝山区三泉路 1941号1楼112室</li>
									<li><span>电话:</span>+150 0079 9835</li>
									<li><span>邮箱:</span><a href="#">332967248@qq.com</a></li>
								</ul>
							</address>
                                <div class="socials">
                                    <ul class="list-inline social-icons">
                                        <li><a href="http://weibo.com/u/5818416125"><i class="fa fa-weibo"></i></a></li>
                                        <li><a href="#"><i class="fa fa-qq"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="footer-widget">
                                <h2>关于墨千</h2>
                                <ul>
                                    <li><a href="#">关于我们</a></li>
                                    <li><a href="#">项目工程</a></li>
                                    <li><a href="#">工作机会</a></li>
                                    <li><a href="#">联系我们</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="footer-widget">
                                <h2>友情链接</h2>
                                <ul>
                                    <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="footer-widget instagram">
                                <h2>Instagram</h2>
                                <ul class="list-inline">
                                    <li>
                                        <a href="http://themeregion.com/demo/arki/default-images/others/s1.jpg" class="image-link"><img class="img-responsive" src="http://themeregion.com/demo/arki/default-images/others/s1.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="http://themeregion.com/demo/arki/default-images/others/2.jpg" class="image-link"><img class="img-responsive" src="http://themeregion.com/demo/arki/default-images/others/2.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="http://themeregion.com/demo/arki/default-images/others/3.jpg" class="image-link"><img class="img-responsive" src="http://themeregion.com/demo/arki/default-images/others/3.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="http://themeregion.com/demo/arki/default-images/others/4.jpg" class="image-link"><img class="img-responsive" src="http://themeregion.com/demo/arki/default-images/others/4.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="http://themeregion.com/demo/arki/default-images/others/5.jpg" class="image-link"><img class="img-responsive" src="http://themeregion.com/demo/arki/default-images/others/5.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="http://themeregion.com/demo/arki/default-images/others/6.jpg" class="image-link"><img class="img-responsive" src="http://themeregion.com/demo/arki/default-images/others/6.jpg" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer-bottom">
                <div class="container text-center">
                    <p>© Copyright 2016 <a href="#">MoQian</a>. All Rights Reserved.</p>
                </div>
            </div>
        </footer>
        {%if not isIndex%}
    </div>
    {%endif%}
    <script src="/js/vendor/jquery-1.11.3.min.js"></script>
    <script src='/js/vendor/bootstrap.min.js'></script>
    <!--/#scripts-->

    <script type="text/javascript" src="/js/vendor/jquery.parallax.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery.nav.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery.typer.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery.event.move.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery.twentytwenty.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery.countTo.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery.inview.min.js"></script>
    <script type="text/javascript" src="/js/vendor/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>

</body>
<!--参考：http://demo.themeregion.com/arki/Arki-default/index-slider.html-->

</html>