{%extends 'base.html'%}

<!--end-->
{%block body%}

<!--/#navigation-->

<div id="home-section-slider" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
         <div class="item item-four" style="background-image:url(/img/bg/slide4.jpg)">
            <div class="container">
                <div class="home-content text-center">
                    <h1>墨千设计</h1>
                    <h2>彰显您的尊贵</h2>
                    <div class="extra-info">
                        <p>公司主营室内外景观设计，小区广场，庭院设计等.一群绝不妥协的居住设计家 完成一座改变你对住宅想象的超越作品 极至的资源整合 丰富住家的生活内涵</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item-one" style="background-image:url(/img/bg/slide1.jpg)">
            <div class="container">
                <div class="home-content text-center">
                    <h1 id="typer">墨千景观</h1>
                    <h2></h2>
                </div>
            </div>
        </div>
        <div class="item item-two" style="background-image:url(/img/bg/slide2.jpg)">
            <div class="container">
                <div class="home-content">
                    <h1>缔造</h1>
                    <h2>不落幕的居家风景</h2>
                    <!--<a href="#" class="btn btn-primary btn-animated">Lets Start</a>-->
                </div>
            </div>
        </div>
        <div class="item item-three" style="background-image:url(/img/bg/slide3.jpg)">
            <div class="container">
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-8 col-sm-6">
                            <div class="home-content">
                                <h1>让您</h1>
                                <h2>体会一种尊崇感受</h2>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="quick-reg">
                                <h2>给我们留言</h2>
                                <form id="register" name="register" method="post" action="#">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" required="required" placeholder="您的姓名">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" required="required" placeholder="您的邮箱">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="subject" class="form-control" placeholder="电话号码">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="message" id="message" required="required" class="form-control" rows="5" placeholder="留言信息"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-animated">给我们留言</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item-five active" style="background-image:url(/img/bg/slide5.jpg)">
            <div class="container">
            </div>
        </div>
    </div>
    <a class="carousel-left" href="#home-section-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="carousel-right" href="#home-section-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
</div>
<!--/#home-section-->

<div id="welcome-section" class="padding">
    <div class="container">
        <div class="text-center section-title">
            <h1>墨千景观 全心以赴</h1>
            <h2>圆您都市花园生活梦</h2>
        </div>
        <div class="welcome-content">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="welcome-image">
                        <a class="image-popup" href="/img/project/welcome/welcome2.jpg">
                            <i class="fa fa-plus-square-o"></i>
                            <img class="img-responsive" src="/img/project/welcome/welcome2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="welcome-image">
                        <a class="image-popup" href="/img/project/welcome/welcome1.jpg">
                            <i class="fa fa-plus-square-o"></i>
                            <img class="img-responsive" src="/img/project/welcome/welcome1.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="welcome-info">
                        <p>
                            景观设计是一个综合的整体，它是在一定的经济条件下实现的，要满足社会的功能，也要符合自然的规律，遵循生态原则，同时还要属于艺术的范畴。因此我们的设计原则是关乎人、关乎生态、关乎艺术的——
                        </p>
                        <!-- <a href="#">Download Our Brochures</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="recent-projects" class="padding">
    <div class="container">
        <div class="text-center section-title">
            <h1>卓越的服务 </h1>
            <h2>近期项目</h2>
        </div>
        <div class="recent-projects">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="project-content">
                        <div class="project-title">
                            <h3>商业屋顶花园景观设计&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                           <!-- <span>客户: 上海市政府</span>-->
                        </div>
                        <div class="project-item">
                            <a href="/img/project/syw/8.jpg" class="image-link">
                            <img  class="img-responsive" src="/img/project/syw/8.jpg" alt=""></a>
                        </div>
                        <div class="project-info">
                            <p>“地域的文脉、现代的景观”成为本项目设计的支撑与起点</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="project-content">
                        <div class="project-title">
                            <h3>南京大泉湖·枫彩四季枫情生态观光园</h3>
                           
                        </div>
                        <div class="project-item">
                            <a href="/img/project/njdqh/1.jpg" class="image-link"><img class="img-responsive" src="/img/project/njdqh/1.jpg" alt=""></a>
                        </div>
                        <div class="project-info">
                            <p>以水作为核心元素进行发想，以创造五彩泡泡家园梦幻旅程为设计核心理念</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="project-content">
                        <div class="project-title">
                            <h3>崇明康养休闲度假园
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </h3>
                            
                        </div>
                        <div class="project-item">
                            <a href="/img/project/cmky/1.jpg" class="image-link"><img class="img-responsive" src="/img/project/cmky/1.jpg" alt=""></a>
                        </div>
                        <div class="project-info">
                            <p>整个建筑外层木质立面绑定在一起，体质轻盈，婉如悬浮于田野之上</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="project-content">
                        <div class="project-title">
                            <h3>舟山花鸟岛主题民宿
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </h3>
                           
                        </div>
                        <div class="project-item">
                            <a href="/img/project/zshd/1.jpg" class="image-link"><img class="img-responsive" src="/img/project/zshd/1.jpg" alt=""></a>
                        </div>
                        <div class="project-info">
                            <p>
                                是基于多年国际化的设计和建造经验，整合多方资源开创的全新的创意儿童主题空间产品品牌。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/#Recent projects-->

<div id="amazing-features" class="padding">
    <div class="container">
        <div class="col-md-6">
            <div class="section-title">
                <h1>设计特色</h1>
                <h2>创意方向指导创意实践</h2>
                <p>
                    “生态景观”一直是人们关心的热点，也是景观设计的核心。我们用植物妆点庭园，营造舒适宜人的小气候；我们用水滋润庭园，让它来维持景观和生物的多样性；我们用山石和岩矿点缀庭园，以唤起人们对摩天大楼与水..
                </p>
            </div>
            <!--
            <div class="amazing-features">
                <div class="features">
                    <h4><i class="fa fa-coffee"></i> Power of Flexibility</h4>
                    <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim <br>justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                </div>
                <div class="features">
                    <h4><i class="fa fa-paper-plane"></i> Fully Responsive</h4>
                    <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim <br>justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                </div>
            </div>
            -->
        </div>
        <div class="col-md-6">
            <div class="twentytwenty-wrapper twentytwenty-horizontal">
                <div class="layer-slide twentytwenty-container" style="height: 333px;">
                    <img class="img-responsive twentytwenty-before" src="/img/project/art/layer.jpg" alt="" style="clip: rect(0px 270px 333px 0px);">
                    <img class="img-responsive twentytwenty-after" src="/img/project/art/layer-bg.jpg" alt="">
                    <div class="twentytwenty-overlay">
                        <div class="twentytwenty-before-label"></div>
                        <div class="twentytwenty-after-label"></div>
                    </div>
                    <div class="twentytwenty-handle" style="left: 270px;"><span class="twentytwenty-left-arrow"></span><span class="twentytwenty-right-arrow"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/#amazing-features-->

<div id="fun-facts" class="padding fun-facts-two">
    <div class="overlay-bg"></div>
    <div class="container">
        <div class="fun-facts text-center">
            <div class="row">
                <div class="col-sm-3">
                    <i class="fa fa-building"></i>
                    <h1 class="timer">300</h1>
                    <h2>已完成项目</h2>
                </div>
                <div class="col-sm-3">
                    <i class="fa fa-bell"></i>
                    <h1 class="timer">79</h1>
                    <h2>正在实施项目</h2>
                </div>
                <div class="col-sm-3">
                    <i class="fa fa-users"></i>
                    <h1 class="timer">59</h1>
                    <h2>合作公司</h2>
                </div>
                <div class="col-sm-3">
                    <i class="fa fa-trophy"></i>
                    <h1 class="timer">12</h1>
                    <h2>中国设计奖项</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/#fun-facts-->

<div id="blog" class="padding">
    <div class="container">
        <div class="row">
            <div class="text-center section-title">
                <h1>Latest Post</h1>
                <h2>Blog</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="entry-content">
                    <a class="entry-thumb" href="http://www.landscape.cn/paper/landscape/2016/1129/180649.html"><img class="img-responsive" src="http://www.landscape.cn/uploadfile/2016/1129/20161129091156987.jpg" alt=""></a>
                    <h2 class="entry-title"><a href="blog-detail.html">花园设计的5大原则</a></h2>
                    <p>花园设计并不简单，你需要知道一点常识。不要在装饰性景色周边种植许多花，防止人们踩踏植物。为未来大型电动工具清理出特定的通道和地方是很重要的，同时也要为草图中规划的东西留出空间。
                    </p>
                    <div class="entry-meta">
                        <p>2016-11-29, <span><a href="#">Lenard Johnson</a></span></p>
                    </div>
                    <a href="http://www.landscape.cn/paper/landscape/2016/1129/180649.html" class="read-more"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="entry-content">
                    <a class="entry-thumb" href="http://www.landscape.cn/paper/landscape/2016/1208/180722.html"><img class="img-responsive" src="http://www.landscape.cn/uploadfile/2016/1208/20161208085553458.jpg" alt=""></a>
                    <h2 class="entry-title"><a href="http://www.landscape.cn/paper/landscape/2016/1208/180722.html">景观设计如何构建亚洲的发展</a></h2>
                    <p>亚洲因景观设计弥补能耗的能力会广泛应用。但其能效大部分依赖于对一个项目与其直接环境之间的专业认识。</p>
                    <div class="entry-meta">
                        <p>2016-12-08, <span><a href="#">Oliver Irvine</a></span></p>
                    </div>
                    <a href="http://www.landscape.cn/paper/landscape/2016/1208/180722.html" class="read-more"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="entry-content">
                    <a class="entry-thumb" href="http://www.landscape.cn/paper/other/2016/1201/180668.html"><img class="img-responsive" src="http://www.landscape.cn/uploadfile/2016/1201/20161201045410895.jpg" alt=""></a>
                    <h2 class="entry-title"><a href="http://www.landscape.cn/paper/other/2016/1201/180668.html">送设计师的圣诞礼物List</a></h2>
                    <p>这个小小的画笔工具是由意大利Moleskine公司设计的一款集电子和模拟计算机技术于一体的设计，它可以简单快捷的记录分享笔记，将你的思想完美捕获。
                    </p>
                    <div class="entry-meta">
                        <p>2016-12-01, <span><a href="#">archdaily</a></span></p>
                    </div>
                    <a href="http://www.landscape.cn/paper/other/2016/1201/180668.html" class="read-more"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/#blog-->

<div id="twitter" class="padding">
    <div class="overlay-bg"></div>
    <div class="container text-center">
        <div class="twitter-icon">
            <img src="/img/favicon.png" />
        </div>
        <div id="twitter-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#twitter-carousel" data-slide-to="0" class=""></li>
                <li data-target="#twitter-carousel" data-slide-to="1" class="active"></li>
                <li data-target="#twitter-carousel" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="item">
                    <p>墨千景观，坚信优秀的设计可以引导人们对美好生活方式的追求。我们的愿景，为您缔造一方美学空间</p>

                </div>
                <div class="item active">
                    <p>墨千景观，主张将设计语言融入自然环境，减少人为设计痕迹，摒弃不切实际的设计堆砌，强调行业内的多专业融合。</p>

                </div>
                <div class="item">
                    <p>
                        设计应人与自然并重，并探索景观之纯美，提倡运用现当代设计语言表达中国文化以及景观之美。
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
<!--/twitter-->

<div id="clients" class="padding">
    <div class="container">
        <div class="row">
            <div class="text-center section-title">
                <h1>Trust Us</h1>
                <h2>合作公司</h2>
            </div>
        </div>
        <div class="clients text-center">
            <ul class="list-inline">
                <li>
                    <a href="#"><img class="img-responsive" src="http://themeregion.com/demo/arki/default-images/others/client1.png" alt=""></a>
                </li>
                <li>
                    <a href="#"><img class="img-responsive" src="http://themeregion.com/demo/arki/default-images/others/client2.png" alt=""></a>
                </li>
                <li>
                    <a href="#"><img class="img-responsive" src="http://themeregion.com/demo/arki/default-images/others/client3.png" alt=""></a>
                </li>
                <li>
                    <a href="#"><img class="img-responsive" src="http://themeregion.com/demo/arki/default-images/others/client4.png" alt=""></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--/Clients-->

<div id="promotion" class="padding promo-image-bg">
    <div class="overlay-bg"></div>
    <div class="container text-center">
        <h1>Want to Work with Us? </h1>
        <a class="btn btn-primary btn-animated" href="#">联系我们</a>
    </div>
</div>
<!--/Promotion-->
{%endblock%}