{%extends 'base.html'%}
<!--end-->
{%block body%}
<div id="page-title" class="image-bg">
    <div class="container text-center">
        <div class="title-content">
            <h1>我们的项目</h1>
            <p>
                每一个案子，都是一个新的起点，每一个花园都追求有自己匠心独具的地方。因为我们知道，每一个院子对于它的拥有者来说，都是独一无二的。我们要做的，就是让您体会到我们的专业和热忱。
            </p>
        </div>
    </div>
</div>
<!--/#page title-->
<div id="project-details" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div id="project-carousel" class="carousel carousel-fade slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item">
                            <img class="img-responsive" src="/img/project/kangyang/p1.jpg" alt="">
                        </div>
                        <div class="item active">
                            <img class="img-responsive" src="/img/project/kangyang/p2.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/project/kangyang/p3.jpg" alt="">
                        </div>
                    </div>
                    <ol class="project-indicators">
                        <li data-target="#project-carousel" data-slide-to="0" class="active">
                            <img class="img-responsive" src="/img/project/kangyang/p1.jpg" alt="">
                        </li>
                        <li data-target="#project-carousel" data-slide-to="1">
                            <img class="img-responsive" src="/img/project/kangyang/p2.jpg" alt="">
                        </li>
                        <li data-target="#project-carousel" data-slide-to="2">
                            <img class="img-responsive" src="/img/project/kangyang/p3.jpg" alt="">
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="project-info">
                    <h2>崇明康养休闲度假园总体规划</h2>
                    <div class="project-details">
                        <h4>项目 详情</h4>
                        <p style="font-size: 14px">崇明康养休闲度假庄园整体风貌特色以 “竹林、鱼塘、小桥、流水、人家”为格调，建筑 风格统一，并融入自然。户外材料以取自于天然的 材质建造，完全符合生态崇明的主题。 前期将以花藤蔓在项目周边布局，形成隔离护栏， 同时在周边沿路栽种景观绿化树木，在增加农庄自 然环境的同时为周边交通道路增添一道风景线。 材质运用与整体氛围一致。 庄园主入口将以防腐木修筑一条紫藤长廊，两侧 以竹色彰显自然之意。建造模式以自然、人文、休 闲为特色，同时也将在户外区域配置健身设施，休 息座椅，配合人文景观、自然景观。使得来体验休 闲生活的人感受到亲和、随性、自然的农庄特色休 闲游。 庄园利用既成的资源打造“立体式绿色农业产业 链”综合利用种植、养殖、水产、畜牧、土肥、土壤、 地热、光热等科学，将畜牧、生态鱼、草和果树衔 接成为一个产业链，不仅不用当今普通农业生产中 的农药和化肥，生产出来的产品还是高品质的无公 害生态物质，而且没有污染环境。还提供了沼气等 能源，大大节约了能源，提高了各类综合经济效益。 立体式生态农业不仅可以有效的利用园地土地，同 时也将建立一个稳定的生态循环系统。 <br/>项目占地：13340 ㎡ 
                        规划范围：5000 ㎡ 
                        建筑占地：500 ㎡ 
                        总建筑面积：1000 ㎡</p>
                        <ul>
                            <li><span>日期:</span>2016.12.01</li>
                            <li><span>地点: </span> 崇明岛</li>
                            <li><span>价值: </span> ￥3,000,000</li>
                            <li><span>类别: </span>旅游规划</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/#project-details-->
<div id="project-list" class="padding">
    <div class="container">
        <div class="text-center section-title">
            <h1>成功合作项目</h1>
            <h2>项目列表</h2>
        </div>
        <!--
        <div class="project-filter text-center">
            <ul class="list-inline">
                <li><a class="active" href="#" data-filter="*">所有项目</a></li>
                <li><a href="#" data-filter=".building">建筑设计</a></li>
                <li>
                    <a href="#" data-filter=".design"></a>室内设计</li>
                <li><a href="#" data-filter=".painting">装修设计</a></li>
                <li><a href="#" data-filter=".plumbing">绘图设计</a></li>
            </ul>
        </div>-->
        <div id="projects" class="recent-projects" style="position: relative; height: 1120.22px;">
            <div class="all-projects">
                <div class="project-content design plumbing" style="position: absolute; left: 0px; top: 0px;">
                    <div class="project-title">
                        <h3>上海临港海滨国际大厦办公园区景观设计</h3>
                    </div>
                    <div class="project-item">
                        <a href="/img/project/lingang/p1.jpg" class="image-link"><img class="img-responsive" src="/img/project/lingang/p1.jpg" alt=""></a>
                    </div>
                    <div class="project-info">
                        <p></p>
                    </div>
                </div>
                <div class="project-content building painting" style="position: absolute; left: 290px; top: 0px;">
                    <div class="project-title">
                        <h3>四季枫情生态观光园建筑景观深化设计</h3>
                    </div>
                    <div class="project-item">
                        <a href="/img/project/njdqh/2.jpg" class="image-link"><img class="img-responsive" src="/img/project/njdqh/2.jpg" alt=""></a>
                    </div>
                    <div class="project-info">
                        <p></p>
                    </div>
                </div>
                <div class="project-content design painting" style="position: absolute; left: 581px; top: 0px;">
                    <div class="project-title">
                        <h3 style="line-height: 46px">商业屋顶花园景观设计</h3>
                    </div>
                    <div class="project-item">
                        <a href="/img/project/syw/p1.jpg" class="image-link"><img class="img-responsive" src="/img/project/syw/p1.jpg" alt=""></a>
                    </div>
                    <div class="project-info">
                        <p></p>
                    </div>
                </div>
                <div class="project-content building design" style="position: absolute; left: 872px; top: 0px;">
                    <div class="project-title">
                        <h3 style="line-height: 46px">宜山路电厂景观设计</h3>
                    </div>
                    <div class="project-item">
                        <a href="/img/project/dianchang/p1.jpg" class="image-link"><img class="img-responsive" src="/img/project/dianchang/p1.jpg" alt=""></a>
                    </div>
                    <div class="project-info">
                        <p></p>
                    </div>
                </div>
                <div class="project-content building painting plumbing" style="position: absolute; left: 0px; top: 373px;">
                    <div class="project-title">
                        <h3 style="line-height: 46px">禅意屋顶花园</h3>
                    </div>
                    <div class="project-item">
                        <a href="/img/project/syw/p2.jpg" class="image-link"><img class="img-responsive" src="/img/project/syw/p2.jpg" alt=""></a>
                    </div>
                    <div class="project-info">
                        <p></p>
                    </div>
                </div>
                <div class="project-content painting plumbing" style="position: absolute; left: 290px; top: 373px;">
                    <div class="project-title">
                        <h3 style="line-height: 46px">鸡宝乐园旅游规划设计</h3>
                    </div>
                    <div class="project-item">
                        <a href="/img/project/jibao/p1.jpg" class="image-link"><img class="img-responsive" src="/img/project/jibao/p1.jpg" alt=""></a>
                    </div>
                    <div class="project-info">
                        <p></p>
                    </div>
                </div>
                <div class="project-content design painting plumbing" style="position: absolute; left: 581px; top: 373px;">
                    <div class="project-title">
                        <h3>懿德轩中式庄园总体规划设计</h3> {# <span>客户：上海市政府</span> #}
                    </div>
                    <div class="project-item">
                        <a href="/img/project/yidexuan/p1.jpg" class="image-link"><img class="img-responsive" src="/img/project/yidexuan/p1.jpg" alt=""></a>
                    </div>
                    <div class="project-info">
                        <p></p>
                    </div>
                </div>
                <div class="project-content design plumbing" style="position: absolute; left: 872px; top: 373px;">
                    <div class="project-title">
                        <h3>江嘉泓红色生态旅游示范区 总体规划设计</h3>
                    </div>
                    <div class="project-item">
                        <a href="/img/project/jiangjiahong/p1.jpg" class="image-link"><img class="img-responsive" src="/img/project/jiangjiahong/p1.jpg" alt=""></a>
                    </div>
                    <div class="project-info">
                        <p></p>
                    </div>
                </div>
                <div class="project-content design painting plumbing" style="position: absolute; left: 0px; top: 746px;">
                    <div class="project-title">
                        <h3>江苏高邮禅&茶文化旅游度假区总体规划</h3>
                    </div>
                    <div class="project-item">
                        <a href="/img/project/gaoyou/p1.jpg" class="image-link"><img class="img-responsive" src="/img/project/gaoyou/p1.jpg" alt=""></a>
                    </div>
                    <div class="project-info">
                        <p></p>
                    </div>
                </div>
                <div class="project-content building design painting" style="position: absolute; left: 290px; top: 746px;">
                    <div class="project-title">
                        <h3>海岛旅游度假区总体规划设计</h3>
                        <span></span>
                    </div>
                    <div class="project-item">
                        <a href="/img/project/haidao/p1.jpg" class="image-link"><img class="img-responsive" src="/img/project/haidao/p1.jpg" alt=""></a>
                    </div>
                    <div class="project-info">
                        <!-- <p>这里填写我的设计理念</p>-->
                    </div>
                </div>
                <div class="project-content design painting" style="position: absolute; left: 581px; top: 746px;">
                    <div class="project-title">
                        <h3 style="line-height: 46px">滨水景观设计</h3> {# <span>客户：上海市政府</span> #}
                    </div>
                    <div class="project-item">
                        <a href="/img/project/binshui/p1.jpg" class="image-link"><img class="img-responsive" src="/img/project/binshui/p1.jpg" alt=""></a>
                    </div>
                    <div class="project-info">
                        {#
                        <p>这里填写我的设计理念</p> #}
                    </div>
                </div>
                <div class="project-content building" style="position: absolute; left: 872px; top: 746px;">
                    <div class="project-title">
                        <h3 style="line-height: 46px">青旅度假民宿总体规划</h3> {# <span>客户：上海市政府</span> #}
                    </div>
                    <div class="project-item">
                        <a href="/img/project/qinglv/p1.jpg" class="image-link"><img class="img-responsive" src="/img/project/qinglv/p1.jpg" alt=""></a>
                    </div>
                    <div class="project-info">
                        {#
                        <p>这里填写我的设计理念</p> #}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/#Recent projects-->
</div>
{%endblock%}